@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300');


html {
    background-image: url("/images/background_edited.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: white;
    max-width: 45%;
    text-align: center;
    margin: auto;
}

a {
    color: white;
}

abbr {
    text-decoration: none;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1.3333px;
}
header {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    padding: 0px 0px 20px 0px;
}

div {
    padding: 10px 0px 10px 0px;
    border-bottom-style: solid;
    border-color: white;
}

.wrapper {
    font-size: 16px;
    display: flex;
    align-content: center;
    text-align: left;
    margin: -5px auto 0px;
}

div[role = "presentation"] {
    border-bottom-style: none;
    padding: -20px;
}

.page-wrapper {
    border-bottom-style: none;
}

.zen-resources {
    border-bottom-style: none;
}

.design-archives {
    border-bottom-style: none;
}

.design-selection {
    border-bottom-style: none;
}

footer {
    padding: 10px;
}