@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: .07em;
    color: #505050;
    font-size: .75em;
}
.top-nav {
    padding-top: 100px;
}

.menu-options {
    text-align: right;
}

.content-padding-top {
    padding-top: 20px;
}

.name {
    font-size: 20px;
    position: relative;
    top: -10px;
    letter-spacing: 0px;
}

.socialmedia {
    margin: auto;
    padding-top: 30px;
}

@media screen and (max-width: 640px) {

    .socialmedia {
        padding-top: 20px;
    }
}

a {
    color: #505050;
}

a img {
    padding: 5px 0px;
}
.menuoffcampus {
    padding-top: 30px;
}

.socialmedialinks {
    padding: 0px 10px;
}

.work-padding {
    padding-right: 8px;
}

.center {
    justify-content: center;
}

.portfolio-image-padding {
    padding: 10px 10px;
}

.portfolio-height {
    height: 600px;
}

.about {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* SINGLE COLUMN FOR SMALL SCREENS BY DEFAULT (mobile first approach) */
.masonry {
  column-count:1;
  column-gap:0em;
}

.masonry .item {
  background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

/* TWO COLUMNS FOR MEDIUM SCREENS AND UP */
@media screen and (min-width: 640px) {
  .masonry {
    column-count:2;
    column-gap:1em;
  }
}

/* THREE COLUMNS FOR LARGE SCREENS AND UP */
@media screen and (min-width: 1024px) {
  .masonry {
    column-count:3;
    column-gap:1em;
  }
}

.sidebarmenu-options {
    padding-top: 10px;
}

.sidebarmenu {
    background-color: #fafafa; 
}

